---
import Layout from "../layouts/Layout.astro";
import productImg from "../assets/webb.jpg";
import { Image } from "astro:assets";
import progImg from '../assets/programacion-kotlin.webp'
---

<Layout title="Ingenieria IT">
    <section class="relative h-[87dvh]">
        <Image
            height={200}
            width={200}
            src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Fixed_Tilt_Solar_panel_at_Canterbury_Municipal_Building_Canterbury_New_Hampshire.jpg"
            alt="hero"
            class="absolute top-0 object-cover -z-10 h-[87dvh] w-full"
        />
        <div class="bg-black/60 z-20 absolute top-0 w-full h-[87dvh]"></div>

        <div
            class="w-full h-[87dvh] text-center pb-10 absolute flex justify-center items-center text-white z-30"
        >
            <h2 class="text-4xl">Productos tecnologicos de alta calidad</h2>
        </div>
    </section>

    <section class="grid md:grid-cols-3 gap-8 place-content-center m-14">
        <article class="flex flex-col gap-2 bg-slate-100 shadow-lg p-5">
            <Image src={productImg} alt="card" class="w-max rounded" />
            <p class="my-4 p-1 text-lg">Producto tecnologico</p>
        </article>
        <article class="flex flex-col gap-2 bg-slate-100 shadow-lg p-5">
            <Image src={productImg} alt="card" class="w-max rounded" />
            <p class="my-4 p-1 text-lg">Producto tecnologico</p>
        </article>
        <article class="flex flex-col gap-2 bg-slate-100 shadow-lg p-5">
            <Image src={productImg} alt="card" class="w-max rounded" />
            <p class="my-4 p-1 text-lg">Producto tecnologico</p>
        </article>
    </section>

    <section class="bg-gray-200 py-12 my-6">
        <div class="container mx-auto px-8">
            <h2 class="text-3xl font-bold text-center mb-8">
                Conoce los beneficios de paneles solares
            </h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <Image
                    alt="panelimg"
                    src={progImg}
                    class="w-full rounded"
                />
                <div class="flex flex-col justify-center">
                    <p class="text-lg mb-4">
                        Descubre cómo la tecnología de redes informáticas está
                        transformando la manera en que nos comunicamos y
                        accedemos a la información en tiempo real.
                    </p>
                    <ul class="list-disc list-inside">
                        <li>
                            Velocidades de conexión ultrarrápidas para
                            transferencia de datos instantánea
                        </li>
                        <li>
                            Mayor ancho de banda que permite la conexión de más
                            dispositivos simultáneamente
                        </li>
                        <li>
                            Reducción significativa de la latencia para
                            experiencias en tiempo real, como videoconferencias
                            y juegos en línea
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section
        class="w-full py-12 md:py-24 lg:py-32 flex flex-col justify-center items-center"
    >
        <div class="container grid items-center gap-4 px-4 md:px-6 lg:gap-10">
            <div class="space-y-4 text-center">
                <h1 class="text-3xl font-bold tracking-tighter sm:text-5xl">
                    Soluciones de software para el mundo moderno
                </h1>
                <p
                    class="mx-auto max-w-[600px] text-gray-500 md:text-xl/relaxed dark:text-gray-400"
                >
                    Transformando negocios con software innovador.
                    Proporcionamos un conjunto completo de servicios para
                    satisfacer sus necesidades digitales necesidades.
                </p>
            </div>
            <div
                class="grid gap-6 max-w-sm mx-auto items-center justify-center lg:grid-cols-3 lg:max-w-none lg:mx-0 lg:gap-10"
            >
                <div
                    class="flex flex-col items-center justify-center space-y-1"
                >
                    <svg
                        class="h-10 w-10 rounded-lg bg-gray-100 p-2 dark:bg-gray-800"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stoke-width="2"
                        stoke-linecap="round"
                        stoke-linejoin="round"
                    >
                        <polyline points="16 18 22 12 16 6"></polyline>
                        <polyline points="8 6 2 12 8 18"></polyline>
                    </svg>
                    <h3 class="text-lg font-bold">Desarrollo</h3>
                    <p
                        class="text-center text-sm text-gray-500 dark:text-gray-400"
                    >
                        Soluciones innovadoras adaptadas a sus necesidades.
                    </p>
                </div>
                <div
                    class="flex flex-col items-center justify-center space-y-1"
                >
                    <svg
                        class="h-10 w-10 rounded-lg bg-gray-100 p-2 dark:bg-gray-800"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stoke-width="2"
                        stoke-linecap="round"
                        stoke-linejoin="round"
                    >
                        <rect width="20" height="8" x="2" y="2" rx="2" ry="2"
                        ></rect>
                        <rect width="20" height="8" x="2" y="14" rx="2" ry="2"
                        ></rect>
                        <line x1="6" x2="6.01" y1="6" y2="6"></line>
                        <line x1="6" x2="6.01" y1="18" y2="18"></line>
                    </svg>
                    <h3 class="text-lg font-bold">Infraestructura</h3>
                    <p
                        class="text-center text-sm text-gray-500 dark:text-gray-400"
                    >
                        Arquitectura de nube segura y escalable.
                    </p>
                </div>
                <div
                    class="flex flex-col items-center justify-center space-y-1"
                >
                    <svg
                        class="h-10 w-10 rounded-lg bg-gray-100 p-2 dark:bg-gray-800"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stoke-width="2"
                        stoke-linecap="round"
                        stoke-linejoin="round"
                    >
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="2" x2="22" y1="12" y2="12"></line>
                        <path
                            d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"
                        ></path>
                    </svg>
                    <h3 class="text-lg font-bold">Diseño web</h3>
                    <p
                        class="text-center text-sm text-gray-500 dark:text-gray-400"
                    >
                        Experiencias de usuario atractivas para la era digital.
                    </p>
                </div>
            </div>
        </div>
    </section>
</Layout>
