---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Licenciamiento - Ingenieria IT">
    <section id="licenciamiento" class="container mx-auto py-8">
        <h2 class="text-3xl font-bold mb-4">Licenciamiento</h2>
        <p class="text-lg mb-4">El licenciamiento de software es un aspecto crítico en la ingeniería de tecnologías de la información.</p>
        <p class="text-lg mb-4">Algunos temas relacionados con el licenciamiento incluyen:</p>
        <ul class="list-disc ml-8 mb-4">
            <li>Tipos de licencias de software</li>
            <li>Regulaciones y cumplimiento legal</li>
            <li>Gestión de activos de software (SAM)</li>
        </ul>
        <p class="text-lg mb-4">Es importante para las empresas entender y cumplir con las políticas de licenciamiento para evitar problemas legales y financieros en el futuro.</p>
    </section>
</Layout>