---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Redes - Ingenieria IT">
    <section id="redes" class="container mx-auto py-8">
        <h2 class="text-3xl font-bold mb-4">Redes</h2>
        <p class="text-lg mb-4">Las redes de computadoras son la columna vertebral de la infraestructura de tecnologías de la información en cualquier organización.</p>
        <p class="text-lg mb-4">Temas relevantes en redes en ingeniería IT:</p>
        <ul class="list-disc ml-8 mb-4">
            <li>Tipos de redes (LAN, WAN, WLAN, etc.)</li>
            <li>Protocolos de red (TCP/IP, DNS, DHCP, etc.)</li>
            <li>Seguridad de red y protección contra amenazas</li>
        </ul>
        <p class="text-lg mb-4">La planificación, implementación y mantenimiento de redes eficientes son fundamentales para garantizar la conectividad y la comunicación efectiva en el entorno empresarial.</p>
    </section>
</Layout>