---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Seguridad - Ingenieria IT">
    <section id="seguridad" class="container mx-auto py-8">
        <h2 class="text-3xl font-bold mb-4">Seguridad</h2>
        <p class="text-lg mb-4">La seguridad de la información es un aspecto crítico en la ingeniería de tecnologías de la información.</p>
        <p class="text-lg mb-4">Algunos temas importantes en seguridad informática son:</p>
        <ul class="list-disc ml-8 mb-4">
            <li>Gestión de riesgos y vulnerabilidades</li>
            <li>Seguridad de la red y del sistema</li>
            <li>Cifrado de datos y autenticación</li>
        </ul>
        <p class="text-lg mb-4">La implementación de prácticas y medidas de seguridad adecuadas es fundamental para proteger la información confidencial y garantizar la integridad de los sistemas.</p>
    </section>
</Layout>