---
import logo from '../assets/logo.png'
---

<footer class="h-64 grid-cols-3 px-20 border-t-2 border-black shadow grid place-content-center">
    <div class="flex flex-col items-start mx-auto justify-center">
        <h2 class="font-bold">Redes</h2>
        <p>Instagram</p>
        <p>Facebook</p>
        <p>Whatsapp</p>
    </div>
    <div class="flex flex-col items-start mx-auto justify-center">
        <img src={logo.src} alt="logo" class="w-[300px]">
    </div>
    <div class="flex flex-col items-start mx-auto justify-center">
        <h2 class="font-bold">Mas sobre nosotros</h2>
        <a href="#">Empresa</a>
        <a href="#">Mantenimiento</a>
        <a href="#">Calidad</a>
    </div>
</footer>